$header-height: 34px;
$db-header-height: 65px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$cell-min-width: 40px;
$cell-width: 120px;
$row-height: 24px;
// colors
$accent-color: #1D6F42;
$accent-high-color: #13462b;
$red-color: #DC3E15;
$blue-color: #1a73e8;
$gray-color: #c0c0c0;
$black-color: #000;
$white-color: #fff;
$background-table-info: #f8f9fa;
$border-cell-color: #e2e3e3;
